.Login
{
  color: #9ea0ab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5eee0;
  padding: 15%;
}

.Forms
{
  width: 300px;
  border: 1px solid #f5eee0;
  border-radius: 13px;
  padding: 30px 10px;
  background-color: #fafbff;
background: #fafbff;
box-shadow: inset 5px 5px 10px #d5d5d9,
            inset -5px -5px 10px #ffffff;
}

.Forms input{
    margin: 10px;
    padding: 10px;
    font-size: larger;
    border:1px solid #ccc;
    border-radius: 10px;
}

.Forms label{
  font-size: 1.2rem;
  margin: 10px;
}

.Forms button{
  margin: 10px;
  padding: 10px;
  font-size: large;
  border:1px solid #ccc;
  border-radius: 10px;
}