.Login, .Register
{
  color: #6b6f8b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e2e5ff;
  padding: 20px;
}

.Forms
{
  width: 300px;
  border: 1px solid #e2e5ff;
  padding: 20px 5px;
  border-radius: 13px;
background: #f0f2ff;
box-shadow: inset 5px 5px 10px #ccced9,
            inset -5px -5px 10px #ffffff;
}

.Forms input{
    margin: 5px;
    padding: 12px;
    font-size: larger;
    border:1px solid #ccc;
    border-radius: 7px;
}

.Forms button{
  margin: 10px;
  padding: 7px;
  font-size: large;
  border:1px solid #ccc;
  border-radius: 7px;
}