.Dashboard
{
    font-family: 'Libre Baskerville', serif;
    height: 100%;
    /* background-color: #e2e5ff; */
    /* background-color: #e3e0f5; */
    /* background-color: #f0f2ff; */
    background-color: #ffffff;
}

.dashboard_body
{
    display: flex;
}
.dashboard_body_side_bar
{
    /* background-color: #999ec6; */
    background-color: #7627bb;
    /* background-color: #6b6f8b; */
    /* background-color: #460e69; */
    width: 270px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
    /* margin:5px 0px 0px 5px; */
}

@media screen and (max-width: 900px)
{
    .dashboard_body_side_bar
    {
        width: 120px;
    }
}
.dashboard_body_body
{
    margin: 40px;
}

.dashboard_cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card
{
    width: 250px;
    height: 150px;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    background: #f3e5ff;
    background-image: linear-gradient(to bottom right,  #fdfaff, #f3e5ff);

}

.card:hover
{
box-shadow:  5px 5px 8px #c7cae0,
             -5px -5px 8px #fdffff;
}