.sidebar
{
    margin: 10px 0px 10px 10px;
}

.sidebar li
{
    left: 0;
    list-style: none;

    /* border-bottom: 1px solid #7627bb;
    border-top: 1px solid #7627bb;
    border-left: 1px solid #7627bb; */

    border-radius: 50px 0px 0px 50px;
    padding:15px;
}

.title
{
    font-size: 2rem;
    padding: 15px 15px 15px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title a
{
    text-decoration: none;
    color: #f0f2ff;
    color: white;
}
